In [2]:
print('hari')

hari

In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel(r"C:\Users\Hari\GitDemo\Python_project\Superstore_Data.xlsx")

In [8]:
df.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Address,Region,Customer ID,Customer Name,Segment,Product ID,Category,Sub-Category,Product Name,Quantity,Discount,Buy Price,Price Per Each
0,152156,2016-11-08,2016-11-11,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,2,0.0,130.98,151.9368
1,152156,2016-11-08,2016-11-11,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,0.0,243.98,317.1740

In [11]:
df

,Order ID,Order Date,Ship Date,Ship Mode,Address,Region,Customer ID,Customer Name,Segment,Product ID,Category,Sub-Category,Product Name,Quantity,Discount,Buy Price,Price Per Each
0,152156,2016-11-08,2016-11-11,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,2,0.00,130.9800,151.9368
1,152156,2016-11-08,2016-11-11,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,0.00,243.9800,317.1740
2,138688,2016-06-12,2016-06-16,Second Class,"Los Angeles, California, United States - 90036",West,DV-13045,Darrin Van Huff,Corporate,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,2,0.00,7.3100,10.7457
3,108966,2015-10-11,2015-10-18,Standard Class,"Fort Lauderdale, Florida, United States - 33311",South,SO-20335,Sean O'Donnell,Consumer,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,5,0.45,191.5155,114.9093
4,108966,2015-10-11,2015-10-18,Standard Class,"Fort Lauderdale, Florida, United States - 33311",South,SO-20335,Sean O'Donnell,Consumer,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2,0.20,11.1840,12.4422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,110422,2014-01-21,2014-01-23,Second Class,"Miami, Florida, United States - 33180",South,TB-21400,Tom Boeckenhauer,Consumer,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,3,0.20,8.4160,9.7836
9990,121258,2017-02-26,2017-03-03,Standard Class,"Costa Mesa, California, United States - 92627",West,DB-13060,Dave Brooks,Consumer,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,2,0.00,45.9800,53.7966
9991,121258,2017-02-26,2017-03-03,Standard Class,"Costa Mesa, California, United States - 92627",West,DB-13060,Dave Brooks,Consumer,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,2,0.20,129.2880,138.9846
9992,121258,2017-02-26,2017-03-03,Standard Class,"Costa Mesa, California, United States - 92627",West,DB-13060,Dave Brooks,Consumer,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",4,0.00,7.4000,10.7300
9993,119914,2017-05-04,2017-05-09,Second Class,"Westminster, California, United States - 92683",West,CC-12220,Chris Cortes,Consumer,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",2,0.00,121.5800,158.0540

In [12]:
df.dtypes

Order ID                   int64
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Address                   object
Region                    object
Customer ID               object
Customer Name             object
Segment                   object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Quantity                   int64
Discount                 float64
Buy Price                float64
Price Per Each           float64
dtype: object

In [13]:
cat_features = df.select_dtypes(include=['bool', 'object', 'category'])

In [14]:
 cat_features.head(2)

,Ship Mode,Address,Region,Customer ID,Customer Name,Segment,Product ID,Category,Sub-Category,Product Name
0,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,Second Class,"Henderson, Kentucky, United States - 42420",South,CG-12520,Claire Gute,Consumer,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."